.contacts-main-container {
  width: 100%;
  min-height: 1000px;
  background-color: whitesmoke;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.contacts-secondary-container {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  margin: 0px 150px;
  display: grid;
  height: auto;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "contacts map inputForm";
  grid-gap: 20px;
}

.contacts-right-container {
  margin-left: 20px;
  grid-area: "contacts";
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.contacts-body-container {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  grid-area: "map";
}
.contact-header-container {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 300px;
  width: 100%;
}
.contacts-form-main-container {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 100%;
  grid-area: "inputForm";
}

.name-input {
  display: flex;
  align-items: center;
  height: 100%;
  height: 40px;
  color: #000;
  position: relative;
  border: 1px solid #cccc;
  margin-bottom: 20px;
}
.contacts-icon-container {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccc;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  padding: 0px 20px;
  font: 16px;
  color: #000;
}

.star-container {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  float: right;
  position: absolute;
  right: 0px;
}
.star-container i {
  font-size: 8px;
}

.text-area-container {
  display: flex;
  align-items: center;
  color: #000;
  position: relative;
  border: 1px solid #cccc;
  margin-bottom: 20px;
}

textarea {
  background-color: transparent;
  border: none;
  padding: 20px;
  color: #000;
  padding-right: 50px;
}
.condition {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.condition .text {
  margin-top: 0px;
  margin-left: 20px;
  text-align: left;
  animation: none;
}
.condition .text p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-transform: none;
  white-space: normal;
  animation: none;
}
input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: #000;
  border: 1px solid #ccc;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
input[type="checkbox"]:checked {
  background-color: #000;
}

input[type="checkbox"]:before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: #000;
  border-radius: 0;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
.submit-btn-container {
  margin-top: 30px;
}
.button-desable {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.329);
  cursor: not-allowed;
}
.btn-wrapper-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
}
.submit-btn-container button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 40px;
  outline: none;
  transition: 0.4s;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgba(17, 16, 16, 0.856) !important;
  color: #fff;
}
.submit-btn-container button:hover {
  background-color: #ccc !important;
  color: #000 !important;
}
.address {
  display: flex;
  margin-bottom: 30px;
}
.iconContact-container {
  margin-right: 20px;
}
.iconContact-container i {
  color: #000;
}
.contacts-adress-container h3 {
  text-transform: uppercase;
  font-size: 13px;
}
.contacts-adress-container {
  width: 100%;
  margin-right: 20px;
  border-bottom: 1px solid rgba(151, 148, 148, 0.63);
}
.contacts-main-container p {
  color: rgb(114, 111, 111);
  font-size: 14px;
  margin-bottom: 30px;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  flex-direction: column;
}
.main-title h1 {
  color: rgba(39, 37, 37, 0.856);
  text-transform: uppercase;
  font-size: 40px;
}

.contacts-line {
  margin-top: 20px;
  width: 100px;
  height: 3px;
  background-color: #000;
}
.contact-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactez-nous-txt {
  margin: 50px 170px;
}

.contactez-nous-txt > p {
  font-size: 20px;
  margin-bottom: 70px;
}

/* DARK MODE  */

.contacts-main-container.dark {
  background-color: #222222;
  border-top: 2px solid #ccc;
}
.contacts-main-container.dark > .contact-header-container > .main-title h1 {
  color: whitesmoke;
}

@media screen and (max-width: 800px) {
  .contacts-secondary-container {
    display: grid;
    margin-left: 90px;
    margin-bottom: 100px;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "contacts"
      " map "
      "inputForm";
  }
  .address {
    margin-bottom: 10px;
  }

  .contacts-form-main-container {
    margin-top: 30px;
  }
  .contacts-body-container {
    margin-top: -180px;
  }
}
@media screen and (max-width: 468px) {
  .contacts-secondary-container {
    display: grid;
    margin-left: 10px;
    width: 100%;
    height: auto;
    position: relative;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "contacts"
      " map "
      "inputForm";
  }
  .contacts-form-main-container {
    width: 350px;
    margin-top: -60px !important;
    margin-right: 10px;
  }
  .contacts-left-container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-top: -30px;
  }
  .address {
    margin-bottom: 15px !important;
  }
  .contacts-body-container {
    width: 350px;
    height: 400px;
    margin-left: 20px;
    margin-top: -50px !important;
  }
  .main-title {
    margin-top: 130px !important;
    text-align: center;
    font-size: 16px !important;
    margin-bottom: 20px;
  }
  .main-title h1 {
    text-align: center;
    font-size: 22px !important;
  }
  .contactez-nous-txt {
    margin: 10px !important;
    text-align: center;
    margin-bottom: 80px !important;
  }
  .contactez-nous-txt p {
    font-size: 16px !important;
  }
  .bigTitle {
    font: 16px !important;
  }

  .name-input {
    display: flex;
    align-items: center;
    height: 30px;
    color: #000;
    position: relative;
    border: 1px solid #cccc;
    margin-bottom: 20px;
  }
  .contacts-icon-container {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccc;
  }

  input[type="text"] {
    background-color: transparent;
    border: none;
    padding: 0px 20px;
    font-size: 12px;
    color: #000;
  }

  .star-container {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    float: right;
    position: absolute;
    right: 0px;
  }
  .star-container i {
    font-size: 8px;
  }

  .text-area-container {
    display: flex;
    align-items: center;
    color: #000;
    position: relative;
    border: 1px solid #cccc;
    margin-bottom: 20px;
  }

  textarea {
    background-color: transparent;
    border: none;
    padding: 5px;
    color: #000;
    padding-right: 20px !important;
  }
  .condition {
    display: flex;
  }
  .condition .text {
    margin-left: 12px;
    text-align: justify;
    color: rgb(75, 73, 73);
  }
  input[type="checkbox"] {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    color: #000;
    border: 1px solid #ccc;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  }
  input[type="checkbox"]:checked {
    background-color: #000;
  }

  .submit-btn-container {
    margin-top: 30px;
  }
  .submit-btn-container button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 30px;
    outline: none;
    transition: 0.4s;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba(17, 16, 16, 0.972) !important;
    color: #fff;
  }
  .submit-btn-container button:hover {
    background-color: #ccc;
    color: #000;
  }
  .address {
    display: flex;
    margin-bottom: 30px;
  }
  .iconContact-container {
    margin-right: 20px;
  }
  .iconContact-container i {
    color: #000;
  }
  .contacts-adress-container h3 {
    text-transform: uppercase;
    font-size: 13px;
  }
  .contacts-adress-container {
    width: 100%;
    margin-right: 20px;
    border-bottom: 1px solid rgba(151, 148, 148, 0.63);
  }
  .contacts-main-container p {
    color: rgb(114, 111, 111);
    font-size: 12px;
    margin-bottom: 30px;
  }

  .main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    flex-direction: column;
  }
  .main-title h1 {
    color: rgba(39, 37, 37, 0.856);
    text-transform: uppercase;
    font-size: 40px;
  }

  .contacts-line {
    margin-top: 20px;
    width: 100px;
    height: 3px;
    background-color: #000;
  }
  .contact-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contactez-nous-txt {
    margin: 50px 170px;
  }

  .contactez-nous-txt > p {
    font-size: 20px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 375px) {
  .contacts-form-main-container {
    width: 300px;
    margin-top: -100px;
    margin-right: 10px;
  }
  .contacts-left-container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-top: -30px;
  }
  .address {
    margin-bottom: 15px !important;
  }
  .contacts-body-container {
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-top: -100px;
  }
}

@media screen and (max-width: 320px) {
  .contacts-form-main-container {
    width: 280px;
    margin-top: -100px;
    margin-left: -10px !important;
  }
  .contacts-left-container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-top: -30px;
  }
  .address {
    margin-bottom: 15px !important;
  }
  .contacts-body-container {
    width: 280px;
    height: 400px;
    margin-left: 10px;
    margin-top: -100px;
  }
}

@media screen and (max-width: 280px) {
  .contacts-form-main-container {
    width: 250px;
    margin-top: -100px;
    margin-left: -10px;
  }
  .contacts-left-container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-top: -30px;
  }
  .address {
    margin-bottom: 15px !important;
  }
  .contacts-body-container {
    width: 250px;
    height: 300px;
    margin-left: 8px;
    margin-top: -100px;
  }
}

.error-message {
  position: absolute;
  bottom: -18px;
  font-size: 14px;
  width: 100%;
  line-height: 15px;
  color: red;
}
